if SHIELD_ALCOR_SLIM_LEFT

config ZMK_KEYBOARD_NAME
    default "Alcor Slim"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ALCOR_SLIM_LEFT || SHIELD_ALCOR_SLIM_RIGHT

config ZMK_SPLIT
    default y

endif

